@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.w-100 {
    width: 100%;
}

.vh-100 {
    min-height: 100vh;
}

.height-100 {
    height: 100%;
}

/* -----------col--------------- */
.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

/* ---------------color------------ */
.bg-blue {
    background: #1E71FF;
}

.bg-gray {
    background: rgba(30, 113, 255, 0.1);
}

.bg-white {
    background: #FFFFFF;
}

.color-white {
    color: #FFFFFF;
}

.color-blue {
    color: #1E71FF;
}

.color-link {
    color: rgba(43, 53, 62, 0.7);
}

/* -------------margin---------- */

.mb-12 {
    margin-bottom: 12px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-20 {
    margin-left: 20px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt50 {
    margin-top: 50px;
}

.ml-16-16 {
    padding-left: 16px;
    padding-right: 16px;
}

/* -------------padding---------- */

.pt-100 {
    padding-top: 100px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-100 {
    padding-bottom: 100px;
}


.pl-12 {
    padding-left: 12px;
}

.pt30 {
    padding-top: 30px;
}

.pl-30 {
    padding-left: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-42 {
    padding-top: 42px;
}

.p-16-48 {
    padding: 16px 48px;
}

/* --------------gap----------------*/
.gap-36 {
    gap: 36px;
}

.gap30 {
    gap: 30px;
}

/* .-------------------d-flex------------ */
.d-flex {
    display: flex;
}

.jsc-center {
    justify-content: center;
}

.jsc-between {
    justify-content: space-between;
}

.flex-colom {
    flex-direction: column;
}

.ali-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

/* -----------------font-family---------------- */
.ff-poppins {
    font-family: 'Poppins';
}

.ff-roboto {
    font-family: 'Roboto';
}

/* ------------------font-size------------ */
.fs-75 {
    font-size: 75px;
}

.fs-45 {
    font-size: 45px;
}

.fs-26 {
    font-size: 26px;
}

.fs-21 {
    font-size: 21px;
}

.fs-18 {
    font-size: 18px;
}

.fs-17 {
    font-size: 17px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

.fs-13 {
    font-size: 13px;
}

/* ------------------font-width----------- */
.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.po-sticky {
    position: sticky;
    top: 0;
}

.nav-80 {
    height: 80px;
}

.try-it {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 210px;
    padding: 12px 24px;
}

.tri-it-free {
    display: inline-block;
    color: white;
    border-radius: 60px;
    border: 1px solid #FFFFFF;
}

.lorem {
    max-width: 566px;
    color: rgba(43, 53, 62, 0.7);
    margin: 0 auto;
}

.perfect {
    max-width: 467px;
    color: #2B353E;
}

.demo {
    padding: 16px 40px;
    color: #1E71FF;
    border: 1px solid #1E71FF;
    border-radius: 60px;
}

.demo:hover {
    color: #FFFFFF;
    background: #1E71FF;
    transition: all 400ms linear;
}

.business {
    max-width: 300px;
    color: rgba(43, 53, 62, 0.7);
}

.relative {
    position: relative;
}

.z-n1 {
    z-index: -1;
}

.pricing {
    font-size: 21px;
    color: rgba(43, 53, 62, 0.7);
}

.tri-it {
    border-radius: 60px;
    padding: 16px 45px;
    display: inline-block;
}

.button:hover {
    color: blue;
    background-color: white;
}

.get-a-demo {
    padding: 16px 45px;
    border-radius: 60px;
    color: white;
    border: 1px solid #FFFFFF;

}

.line {
    width: 167px;
    border: 1px solid rgba(43, 53, 62, 0.15);
    color: #2B353E;
}

.hr {
    height: 0px;
    width: 167px;
    border: 1px solid rgba(43, 53, 62, 0.15);
}

.z-index {
    flex-grow: 2;
}



#chkbtn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    margin-top: 35px;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    z-index: 1;

}

nav input {
    display: none;
}

.relative {
    position: relative;
}

@media (max-width: 410px) {

    .fs-75 {
        font-size: 45px;
    }

    .d-block {
        display: block;
    }

    .tri-it-free {
        display: flex;
        justify-content: center;
        margin: 10px
    }

    .get-a-demo {
        display: flex;
        justify-content: center;
        margin: 10px
    }

    .tri-it {
        margin-right: 1px;
        display: flex;
        justify-content: center;
        margin: 10px
    }

    .demo {
        display: flex;
        justify-content: center;
        margin: 10px
    }

    .hr {
        margin-top: 30px;
    }

    .business {
        padding-bottom: 15px;
    }
}

@media (max-width: 576px) {
    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .ml-xsm-12 {
        margin-left: -12px;
    }

    .mb-sm-50 {
        margin-bottom: 50px;
    }

    #chkbtn {
        display: flex;
    }

    nav ul li a {
        color: blue;
    }

    .cl-blue {
        color: blue;
    }

    nav ul {
        width: 100%;
        height: 100vh;
        display: flex;
        position: fixed;
        top: 70px;
        left: -100%;
        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #1E71FF;
        transition: all 0.5s linear;
        padding-block: 25px;
        z-index: 3;
    }

    #menu:checked~ul {
        left: 0;
    }

    /* #mainmenu:checked~.navbar {
        left: 0;
    } */
}

@media (min-width: 576px) {
    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .ml-sm-12 {
        margin-left: -12px;
    }

    .demo {
        margin-left: 5px;
    }

    .mb-sm-50 {
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) {
    .col-8 {
        width: 66.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .transform-sm-99 {
        transform: translateX(-99px);
    }

    .card-md {
        width: 50%;
    }

    .ml-md-12 {
        margin-left: -12px;
    }

    .mb-md-50 {
        margin-bottom: 50px;
    }
}

@media (min-width: 992px) {
    .col-8 {
        width: 66.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .card {
        position: absolute;
        left: 0%;
        width: 50%;
    }

    .Solution {
        display: flex;
    }

    .col-lg-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .card-xl {
        width: 50%;
    }
}